## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/packages/repositories.config

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio
.vs/
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

## Rider
.idea/
*.sln.iml

## VS Code
.vscode/

## macOS
.DS_Store

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini

## Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
TestResult.xml
coverage*/

## Publish
*.Publish.xml
PublishScripts/

## NuGet v3
*.nuget.props
*.nuget.targets

## ASP.NET Scaffolding
ScaffoldingReadMe.txt

## SQL Server files
*.mdf
*.ldf
*.ndf

txt.txt
## BenchmarkDotNet
BenchmarkDotNet.Artifacts/

## .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

## ASP.NET 5
bower_components/
node_modules/
wwwroot/lib/

## JetBrains Rider
*.DotSettings.user


actividad1.md
actividad2.md
actividad4.md
actividad3.md
actividad5.md

instruccion.md

intruccions.md

AGENTS.md
opencode.json
PONYTAIL.md
tools/